<div class="insert-service">
<fieldset>
<legend>&nbsp;#i18n{helpdesk.answer_selection.boxTitle}</legend>
<form class="form-horizontal" method="post" action="jsp/admin/plugins/helpdesk/DoInsertAnswer.jsp">
<input type="hidden" name="input" value="${input}" />
<#list helpdesk_subject_list as subject_list>
	<strong>${subject_list.subject}</strong>
	<input type="hidden" name="subject_id" value="${subject_list.idSubject}">
	<table class="table table-striped table-condensed">
		<thead></thead>
		<tbody>
		<#list helpdesk_question_list as question_list>
			<#if subject_list.idSubject=question_list.idSubject>                                                
			<tr>
				<td>
				<div class="form-group">
				<label class="control-label col-xs-12 col-sm-12 col-md-3 col-lg-3" for="helpdesk_${question_list.idQuestionAnswer}">${question_list.question}</label>
					<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
						<input class="radio" type="radio" name="helpdesk_answer" id="helpdesk_${question_list.idQuestionAnswer}" value="${question_list.idQuestionAnswer}" />
					</div>
				</div>
				</td>
			</tr>
			<tr>
				<td>${question_list.answer}</td>
			</tr>        
			</#if>
		</#list>                      
		</tbody>
	</table>
</#list>
<@button buttonIcon='check' type='submit' size='sm'/>
</fieldset>
</form>
</div>

    

