<#macro subjectsList items default_value exclude_value depth>
<#if items?has_content>
<#list items as subject>
	<#if exclude_value="${subject.id}">
	<#else>
		<option <#if default_value="${subject.id}">selected="selected"</#if> value="${subject.id}">
		<#if depth &gt; 0><#list 1..depth as i>&nbsp;&nbsp;</#list></#if>${subject.text}</option>
		<#assign child_subjects_list = subject.getChilds(plugin) />
		<#if child_subjects_list?has_content>
			<@subjectsList items=child_subjects_list default_value=default_value exclude_value=exclude_value depth=depth+1 />
		</#if>
	</#if>
</#list>
</#if>
</#macro>
<#macro themesList items default_value exclude_value depth>
<#if items?has_content>
<#list items as theme>
	<#if exclude_value="${theme.id}">
	<#else>
		<option <#if default_value="${theme.id}">selected="selected"</#if> value="${theme.id}">
		<#if depth &gt; 0><#list 1..depth as i>&nbsp;&nbsp;</#list></#if>${theme.text}</option>
		<#assign child_themes_list = theme.getChilds(plugin) />
		<#if child_themes_list?has_content>
			<@themesList items=child_themes_list default_value=default_value exclude_value=exclude_value depth=depth+1 />
		</#if>
	</#if>
</#list>
</#if>
</#macro>
<#macro commonListTable items depth jspRef paramId>
<#if items?has_content>
	<#list items as subject>
	<@tr>
		<@td>
			<@indentation depth=depth >
			<@tag title='#i18n{helpdesk.commonList.labelId}'>${subject.id}</@tag> 
			<strong>${subject.text}</strong>
			<small>[ ${subject.questions?size}  #i18n{helpdesk.commonList.labelQuestion} ]</small>
			</@indentation>
		</@td>
		<@td>
			<@aButton href='jsp/admin/plugins/helpdesk/Modify${jspRef}.jsp?faq_id=${faq.id}&${paramId}=${subject.id}' size='' buttonIcon='edit'/>
			<#if subject.idOrder gt 0>
				<@aButton href='jsp/admin/plugins/helpdesk/DoGoUp${jspRef}.jsp?faq_id=${faq.id}&${paramId}=${subject.id}' size='' title='#i18n{helpdesk.commonList.buttonLabelGoUp}' class='btn-light' hideTitle=['all'] buttonIcon='chevron-up'/>
			<#else>
				<@aButton href='javascript:void' title='#i18n{helpdesk.commonList.buttonLabelGoUp}' class='btn-light disabled' size='' hideTitle=['all'] buttonIcon='chevron-up'/>
			</#if>
			<#if items?seq_index_of(subject) != items?size-1>
				<@aButton href='jsp/admin/plugins/helpdesk/DoGoDown${jspRef}.jsp?faq_id=${faq.id}&${paramId}=${subject.id}' size='' title='#i18n{helpdesk.commonList.buttonLabelGoDown}' class='btn-light' hideTitle=['all'] buttonIcon='chevron-down'/>
				<@aButton href='jsp/admin/plugins/helpdesk/DoGoIn${jspRef}.jsp?faq_id=${faq.id}&${paramId}=${subject.id}' size=''  title='#i18n{helpdesk.commonList.buttonLabelGoIn}' class='btn-light' hideTitle=['all'] buttonIcon='chevron-right'/>
			<#else>
				<@aButton href='javascript:void' title='#i18n{helpdesk.commonList.buttonLabelGoDown}' class='btn-light disabled' size=''  hideTitle=['all'] buttonIcon='chevron-down'/>
				<@aButton href='javascript:void' title='#i18n{helpdesk.commonList.buttonLabelGoIn}' class='btn-light disabled' size=''  hideTitle=['all'] buttonIcon='chevron-right'/>
			</#if>
			<#if subject.idOrder == 0 && subject.idParent gt 0>
				<@aButton href='jsp/admin/plugins/helpdesk/DoGoOut${jspRef}.jsp?faq_id=${faq.id}&${paramId}=${subject.id}' size=''  title='#i18n{helpdesk.commonList.buttonLabelGoOut}' class='btn-light disabled' hideTitle=['all'] buttonIcon='chevron-left'/>
			<#else>
				<@aButton href='javascript:void' title='#i18n{helpdesk.commonList.buttonLabelGoOut}' class='btn-light disabled' size=''  hideTitle=['all'] buttonIcon='chevron-left'/>
			</#if>
			<@aButton href='jsp/admin/plugins/helpdesk/ConfirmRemove${jspRef}.jsp?faq_id=${faq.id}&${paramId}=${subject.id}' size=''  title='#i18n{helpdesk.commonList.buttonLabelDelete}' class='btn-danger' hideTitle=['all'] buttonIcon='trash'/>
		</@td>            
	</@tr>
	<#assign child_subjects_list = subject.getChilds(plugin) />
	<#if child_subjects_list?has_content>
		<@commonListTable items=child_subjects_list depth=depth+1 jspRef=jspRef paramId=paramId />
	</#if>
	</#list>
</#if>
</#macro>
<#macro indentation depth>
<#if depth gt 0>
	<blockquote>
	<#list 1..depth as i>
		<blockquote><#if i = depth><#nested></#if>
	</#list>
	<#list 1..depth as i>
		</blockquote>
	</#list>
	</blockquote>
<#else>
	<blockquote><#nested></blockquote>
</#if>
</#macro>