<#include "/admin/util/editor/editor.html" />
<#include "macro_helpdesk.html" />
<#include "/admin/util/editor/editor.html" />
<#include "macro_helpdesk.html" />
<@row>
	<@columns offsetMd=1 md=8>
        <@box color='primary' >
			<@boxHeader title='${faq.name} - #i18n{helpdesk.create_question_answer.adminTitle}' skipHeader=true />
            <@boxBody>
                <@tform name="create_subject" action="jsp/admin/plugins/helpdesk/DoModifyQuestionAnswer.jsp">
					<@input type="hidden" value="${faq_id}" name="faq_id" />
                    <@input type="hidden" name="question_id" value="${question_answer.idQuestionAnswer}" />
					<@formGroup labelFor='subject_id' labelKey='#i18n{helpdesk.create_question_answer.LabelSubject}' mandatory=true >
                        <@select id='subject_id' name='subject_id'>
                            <@subjectsList items=helpdesk_subject_list default_value="${question_answer.idSubject}" exclude_value="" depth=0 />
                        </@select>
					</@formGroup>
					<@formGroup labelFor='question' labelKey=' #i18n{helpdesk.create_question_answer.LabelQuestion}' mandatory=true >
                        <@input type='textarea' id='question' name='question' richtext=true value='${question_answer.question}' />
					</@formGroup>
					<@formGroup labelFor='html_content' labelKey=' #i18n{helpdesk.create_question_answer.LabelAnswer}' mandatory=true >
                        <@input type='textarea' id='html_content' name='html_content' richtext=true value='${html_content}' />
					</@formGroup>
                    <@formField>
                        <@columns offsetSm=3>
							<#assign isChecked><#if checked='checked'>true<#else>false</#if></#assign>
                            <@checkBox name='status' id='status' labelKey='#i18n{helpdesk.create_question_answer.LabelStatus}' orientation='switch' value='1' checked=isChecked?boolean />
                        </@columns>
                    </@formField>
					<@formField>
                        <@columns offsetSm=3>
							<@button title='#i18n{helpdesk.modify_question_answer.buttonLabelModify}' buttonIcon='check' size='sm' type='submit' />
							<@aButton href='jsp/admin/plugins/helpdesk/QuestionAnswerList.jsp?faq_id=${faq_id}' color='secondary' title='#i18n{portal.util.labelBack}' buttonIcon='undo' size='sm' />
							<@aButton class='btn-danger' href='jsp/admin/plugins/helpdesk/ConfirmRemoveQuestionAnswer.jsp' title='#i18n{helpdesk.modify_question_answer.buttonLabelDelete}' buttonIcon='trash' size='sm'/>
						</@columns>
					</@formField>
                </@tform>
            </@boxBody>
        </@box>
    </@columns>
</@row>
<@initEditor />
<#--
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<fieldset>
	<legend>#i18n{helpdesk.modify_question_answer.adminTitle}</legend>
		<form class="form-horizontal" method="post" name="create_subject" action="jsp/admin/plugins/helpdesk/DoModifyQuestionAnswer.jsp">
		<input type="hidden" value="${faq_id}" name="faq_id" />
		<input type="hidden" name="question_id" value="${question_answer.idQuestionAnswer}" />
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-12 col-md-3 col-lg-3" for="subject_id">#i18n{helpdesk.modify_question_answer.LabelSubject} *</label>
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
				<select id="subject_id" name="subject_id" id="subject_id" class="form-control input-sm">
					<@subjectsList items=helpdesk_subject_list default_value="${question_answer.idSubject}" exclude_value="" depth=0 />
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-12 col-md-3 col-lg-3" for="question">#i18n{helpdesk.modify_question_answer.LabelQuestion} *</label>
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
				<input type="text" class="form-control input-sm" name="question" id="question" size="40" maxlength="" value="${question_answer.question}"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-12 col-md-3 col-lg-3" for="html_content">#i18n{helpdesk.modify_question_answer.LabelAnswer} *</label>
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
				<textarea id="html_content" class="richtext form-control input-sm" name="html_content" style="width:80%;" rows="20">${html_content}</textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-12 col-sm-12 col-md-offset-3 col-lg-offset-3">
				<div class="checkbox">
					<label for="status">
						<input type="checkbox" class="checkbox" name="status" name="status" ${checked} value="1">
						#i18n{helpdesk.modify_question_answer.LabelStatus} *
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-12 col-sm-12 col-md-offset-3 col-lg-offset-3">
				<@button title='#i18n{helpdesk.modify_question_answer.buttonLabelModify}' buttonIcon='check' size='sm' type='submit'/>
				<@aButton class='btn-danger' href='jsp/admin/plugins/helpdesk/ConfirmRemoveQuestionAnswer.jsp' title='#i18n{helpdesk.modify_question_answer.buttonLabelDelete}' buttonIcon='trash' size='sm'/>
			</div> 
		</div> 
		</form>
	</fieldset>
	</div>
</div>
-->