<#macro subjectsList items typeList depth>
<#if items?has_content>
<#if depth==0><div id="tree" class="jstree-default overflow-hidden"></#if>  
<@ul>
<#list items as item>
	<li id="node-${item.id}">
		<#assign themeId = 0 />
		<#if theme?has_content><#assign themeId = theme.id /></#if>
		<#if themeId==item.id>
			<strong>${item.text}</strong>
		<#else>
			<a href="jsp/admin/plugins/helpdesk/${typeList}List.jsp?faq_id=${faq.id}&theme_id=${item.id}" title="${item.text}">${item.text}</a>
		</#if>
		<#assign child_themes_list = item.getChilds(plugin) />
		<#if child_themes_list?has_content>
		<@ul>
			<@subjectsList items=child_themes_list typeList=typeList depth=depth+1 />
		</@ul>    
		</#if>
	</li>
</#list>
</@ul>
<#if depth==0></div></#if>
</#if>
</#macro>
<@row>
	<@columns sm=3>
        <@box color='primary' >
			<@boxHeader title='${faq.name} - #i18n{helpdesk.visitor_question_list.adminTitleLeft}' />
            <@boxBody>
				<@subjectsList items=helpdesk_theme_list typeList="VisitorQuestion" depth=0 />
            </@boxBody>
        </@box>
    </@columns>
    <@columns sm=9>
        <@box color='primary' >
			<@boxHeader title='#i18n{helpdesk.visitor_question_list.adminTitleRight}' boxTools=true >
				<@tform type='inline' action='jsp/admin/plugins/helpdesk/ArchivedQuestionList.jsp'>
				<#if theme?has_content><input type="hidden" value="${theme.id}" name="theme_id" /></#if>
				<input type="hidden" name="faq_id" value="${faq.id}" />
				<@button title='#i18n{helpdesk.visitor_question_list.questionsArchived}' buttonIcon='cog' type='submit' size='sm'/>
				</@tform>
			</@boxHeader>	
			<@boxBody>
			<#if theme?has_content>	
				<#if theme.questions?has_content>
					<@table headBody=true >
						<@tr>
							<@th>#i18n{helpdesk.visitor_question_list.titleQuestion}</@th>
							<@th>#i18n{helpdesk.visitor_question_list.titleVisitor}</@th>
							<@th>#i18n{helpdesk.visitor_question_list.titleDate}</@th>
							<@th>#i18n{helpdesk.visitor_question_list.titleActions}</@th>
						</@tr>
						<@tableHeadBodySeparator />
						<#list theme.questions as visitor_question>
						<#assign truncated_value = 125 />
						<@tr>
							<@td>
								<#if visitor_question.question?length &gt; truncated_value>${visitor_question.question?substring(0,truncated_value-3)}...
								<#else>
									${visitor_question.question}
								</#if>
							</@td>
							<@td>${visitor_question.firstname}&nbsp;${visitor_question.lastname}</@td>
							<@td>${visitor_question.date}</@td>
							<@td>
								<@aButton href='jsp/admin/plugins/helpdesk/ModifyVisitorQuestion.jsp?faq_id=${faq.id}&question_id=${visitor_question.idVisitorQuestion}&theme_id=${theme.id}' title='#i18n{helpdesk.visitor_question_list.buttonLabelAnswer}' hideTitle=['all'] buttonIcon='comment'/>
							</@td>
						</@tr>
					</#list>
					</@table>
				<#else>
					<@empty title='#i18n{helpdesk.visitor_question_list.noQuestion}' />
				</#if>
			</#if>
			</@boxBody>
		</@box>
	</@columns>
</@row>
<script src="js/admin/jquery/plugins/ui/jstree/jquery.jstree.js"></script>
<script src="js/admin/jquery/plugins/ui/jstree/jquery.cookie.js"></script>
<script>
$( function(){
	$("#tree").jstree({
        "ui" : {
            "select_limit" : 1,
        },
        "themes" : {
            "theme" : "apple",
            "icons" : true,
        },
        "cookies" : {
            "save_opened" : true,
        },
        "core" : { "initially_open" : [ "node-${themeId!}" ]},
        "plugins" : [ "themes", "html_data", "cookies", "ui" ]
    });
});
</script>