<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <fieldset>
            <legend>#i18n{helpdesk.contact_result.boxTitle}</legend>
            <div class="alert alert-success"><@icon style='exclamation-sign' /></i>&nbsp;#i18n{helpdesk.contact_result.message}</div>
            <form class="form-horizontal" method="post">
            <input type="hidden" name="page" value="helpdesk">
            <input type="hidden" name="faq_id" value="${faq.id}">
            <@button title='#i18n{helpdesk.contact_result.back}' buttonIcon='ok' size='sm' type='submit'/>
	</form>
	</fieldset>
    </div>
</div>
